.lead__caption {
    text-align: start;
    font-size: 10px;
    line-height: 140%;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    display: flex;
    align-self: start;
    padding: 0;
    margin: 8px 0 0;
    font-family: Inter;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #FFFFFF;
}

@media screen and (max-width: 1023px) {
    .lead__caption {
        margin: 8px 0 0 3.125%;
    }
}

@media screen and (max-width: 767px) {
    .lead__caption {
        margin: 8px 0 0 5%;
    }
}